[Desktop Entry]
Name=Synergy client Indicator
Comment=A simple synergy client indicator applet
Exec=indicator-synergy
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Icon=gnome-system-monitor
